/**
 * Global Reset of all HTML Elements
 *
 * Resetting all of our HTML Elements ensures a smoother
 * visual transition between browsers. If you don't believe me,
 * try temporarily commenting out this block of code, then go
 * and look at Mozilla versus Safari, both good browsers with
 * a good implementation of CSS. The thing is, all browser CSS
 * defaults are different and at the end of the day if visual
 * consistency is what we're shooting for, then we need to
 * make sure we're resetting all spacing elements.
 *
 */
html,
body {
  border: 0;
  font-family: "Helvetica-Neue", "Helvetica", Arial, sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}
div,
span,
object,
iframe,
img,
table,
caption,
thead,
tbody,
tfoot,
tr,
tr,
td,
article,
aside,
canvas,
details,
figure,
hgroup,
menu,
nav,
footer,
header,
section,
summary,
mark,
audio,
video {
  border: 0;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
address,
cit,
code,
del,
dfn,
em,
ins,
q,
samp,
small,
strong,
sub,
sup,
b,
i,
hr,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
legend,
label {
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}
article,
aside,
canvas,
figure,
figure img,
figcaption,
hgroup,
footer,
header,
nav,
section,
audio,
video {
  display: block;
}
table {
  border-collapse: separate;
  border-spacing: 0;
}
table caption,
table th,
table td {
  text-align: left;
  vertical-align: middle;
}
a img {
  border: 0;
}
:focus {
  outline: 0;
}
.custom__checkbox {
  display: block;
  position: relative;
  margin: 0px 12px 12px 0px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.custom__checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.custom__checkbox .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 13px;
  width: 13px;
  background-color: #bbbbbb;
  border-radius: 3px;
}
.custom__checkbox .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.custom__checkbox:hover input ~ .checkmark {
  background-color: #2e91e3;
}
.custom__checkbox input:checked ~ .checkmark {
  background-color: #2e91e3;
}
.custom__dropdown {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 10px;
}
.custom__dropdown select {
  background-color: #2e91e3;
  color: #ffffff;
  width: 196px;
  padding: 12px;
  padding-right: 2.5em;
  border: 0;
  margin: 0;
  border-radius: 3px;
  text-indent: 0.01px;
  text-overflow: '';
  font-weight: bold;
  -webkit-appearance: button;
  -moz-appearance: button;
}
.custom__dropdown::before,
.custom__dropdown::after {
  content: "";
  position: absolute;
  pointer-events: none;
}
.custom__dropdown::after {
  content: "\25BC";
  height: 1em;
  font-size: 0.625em;
  line-height: 1;
  right: 1.2em;
  top: 50%;
  margin-top: -0.5em;
  color: #ffffff;
}
.custom__dropdown::before {
  width: 2em;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 0 3px 3px 0;
  color: #ffffff;
}
.custom__dropdown option {
  font-size: 11pt;
}
html,
body {
  background: #f3f3f4;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 13pt;
}
a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  color: #2e91e3;
  text-decoration: underline;
}
a h1 {
  color: #000000;
  font-size: 15pt;
}
label {
  margin: 0px 0px 10px 0px;
  width: 100%;
}
input {
  width: 306px;
  background: #f7f7f7;
  color: #3D3D3D;
  padding: 7px 0px 7px 10px;
  border: none;
  font-size: 13pt;
}
button {
  padding: 10px 44px;
  background: #2e91e3;
  color: #ffffff;
  border: none;
  text-align: center;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-weight: bold;
  border-radius: 4px;
}
.container {
  margin: 80px auto;
  position: relative;
  width: 1100px;
  background: #ffffff;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 2px;
}
.heading {
  float: left;
  width: 100%;
  border-bottom: 1px solid #d4d4d4;
}
.titulo {
  float: left;
  max-width: 50%;
  margin: 23px 0px 0px 30px;
}
.action {
  float: right;
  max-width: 50%;
  margin: 15px 0px 15px 30px;
}
.action button {
  float: right;
  margin-right: 28px;
}
.grid {
  margin: 15px 0px;
  padding: 15px 30px 25px 30px;
  clear: both;
}
.grid .head {
  margin: 0px 0px 10px 16px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-weight: 600;
  font-style: italic;
}
.grid .form span {
  clear: both;
  margin: 0px 0px 0px 0px;
}
.grid .row:active {
  background: rgba(46, 145, 227, 0.5);
}
.grid .row:after {
  content: "";
  display: table;
  clear: both;
}
.grid .row.odd {
  background: #f7f7f7;
}
.grid .column {
  float: left;
  width: 50%;
  padding: 10px;
}
.grid .column.col-1 {
  width: auto;
}
.grid .column.col-3 {
  width: 30%;
}
.grid .column.col-6 {
  width: 60%;
}
.grid .options {
  text-align: right;
  float: right;
}
.grid .options ul {
  float: right;
  width: 100%;
}
.grid .options ul li {
  display: inline-block;
  padding-left: 10px;
}
.grid .options ul li img {
  -webkit-filter: invert(0.5);
          filter: invert(0.5);
}
.grid .options ul li img:hover {
  -webkit-filter: invert(0.5) sepia(1) saturate(5) brightness(80%) hue-rotate(175deg);
          filter: invert(0.5) sepia(1) saturate(5) brightness(80%) hue-rotate(175deg);
}
.grid .options input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.grid .languages {
  margin: 20px 0px 10px 0px;
  padding-bottom: 10px;
  border-bottom: 2px solid #d4d4d4;
}
.grid .languages ul {
  width: 100%;
}
.grid .languages ul li {
  display: inline-block;
}
.grid .languages ul li:after {
  content: '|';
  padding-left: 4px;
}
.grid .languages ul li:last-child:after {
  content: '';
}
.grid .languages ul li a {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-weight: 600;
  font-size: 13pt;
}
.grid .languages ul li a.selected {
  color: #2e91e3;
}
.tab-container {
  height: 400px;
}
.tab-container label {
  float: left;
}
.tab-container textarea {
  width: 710px;
  height: 150px;
  background: #f7f7f7;
  color: #3D3D3D;
  padding: 0px 10px 7px 14px;
  border: none;
  font-size: 13pt;
}
.thumbs {
  height: 330px;
  max-height: 330px;
  overflow-y: auto;
  overflow-x: hidden;
}
.thumbs ul {
  width: 100%;
}
.thumbs li {
  display: inline-block;
  margin: 0px 12px 50px 0px;
  z-index: 100;
}
.thumbs li .thumb {
  width: 142px;
  height: 142px;
  border-radius: 10px;
}
.thumbs li .trash {
  position: relative;
  left: 122px;
  -webkit-mask-image: url(/images/trash-icon.svg?0af5aa2c11c2fb962409b35758fbf9a8);
  mask-image: url(/images/trash-icon.svg?0af5aa2c11c2fb962409b35758fbf9a8);
  background-color: #636363;
  width: 12px;
  height: 16px;
  margin: -26px 0px;
  z-index: 1;
}
.thumbs li .trash:hover {
  background-color: #2e91e3;
}
.uploadBox {
  position: inherit;
  background: none;
  padding: 0px;
  margin: 0px;
}
.drop__area,
.uploadBox {
  background: none !important;
  padding: 0px !important;
  margin: 0px !important;
  text-align: center;
  width: 306px;
  height: 142px;
  max-height: 142px;
  border: 2px dashed #D6D6D6;
  padding: 0px 0px !important;
}
.drop__area.dropAreaDragging,
.uploadBox.dropAreaDragging {
  border-color: #2e91e3;
  color: #2e91e3;
}
.drop__area .uploadBoxMain,
.uploadBox .uploadBoxMain {
  margin-bottom: 0px !important;
  margin-right: 0px !important;
}
.drop__area .uploadBoxMain button,
.uploadBox .uploadBoxMain button {
  display: none;
}
.drop__area .uploadBoxMain ol,
.uploadBox .uploadBoxMain ol,
.drop__area .uploadBoxMain p,
.uploadBox .uploadBoxMain p {
  display: none;
}
.drop__area .uploadBoxMain ol:first-of-type,
.uploadBox .uploadBoxMain ol:first-of-type {
  display: block;
  max-height: 126px !important;
  margin-top: -10px;
  margin-left: -4px;
  overflow-y: auto;
  width: 98%;
}
.drop__area .uploadBoxMain ol:first-of-type li,
.uploadBox .uploadBoxMain ol:first-of-type li {
  font-size: 11pt;
  max-width: 280px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 16px;
}
.drop__area .dropArea,
.uploadBox .dropArea {
  border: none !important;
  width: 100%;
  height: 100% !important;
  padding-top: 0px !important;
}
.drop__area .dropArea h3,
.uploadBox .dropArea h3 {
  margin-top: 24px;
  font-family: 'Open Sans', sans-serif !important;
  font-weight: 400 !important;
  font-size: 13pt !important;
}
.drop__area .dropArea #items,
.uploadBox .dropArea #items {
  height: 142px;
  margin-top: -52px;
  margin-left: -10px;
}
.drop__area .errorMsg,
.uploadBox .errorMsg {
  display: none;
}
.drop__area .btn,
.uploadBox .btn {
  display: none;
}
.message__container {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1;
}
.message__container .message {
  border-radius: 5px;
  padding: 20px 30px;
  color: #ffffff;
}
.message__container .message.success {
  background: #2e91e3;
}
.message__container .message.error {
  background: #D45900;
}
.message__container .close {
  cursor: pointer;
  position: absolute;
  font-size: 10pt;
  right: -6px;
  top: -20px;
  padding: 0px 10px;
  color: #ffffff;
  border-radius: 5px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-weight: bold;
}
.drag-area {
  min-height: 10px;
}
.drag-area:parent:active {
  background: #2e91e3;
}
.draggable {
  cursor: move;
}
.draggable:active {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}
.mce-widget {
  display: none;
}
